/Logs/
/obj/
/Library/TempArtifacts/
/Library/ShaderCache/
/Library/ScriptAssemblies/
/Library/StateCache/
/Library/TempArtifacts/
/Library/PackageCache/
/Library/APIUpdater/
/Library/Artifacts/
/Library/Collab/
/Temp/
